.sidePanel-background-color{
    -fx-background-color: #dc05ff;
}

.active-user-background-color{
    -fx-background-color: #a105b0;
}

.chat-panel-background-color{
    -fx-background-color: rgb(255, 255, 255);
}

.button-color{
    -fx-border-radius: 10px;
    border:2px;
    -fx-background-color: #dc05ff;
    -fx-border-color: rgb(0, 178, 255);
}